<img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo" width="100" height="100"></a>

<!-- <h4>{{ site.owner.name }}</h4> -->

<p>{{ site.owner.bio }}</p>

{% if site.owner.email %}<p style="text-indent:0;margin-top:1.5em;"><a href="mailto:{{ site.owner.email }}" target="_blank"><i class="icon-mail"></i> Email</a></p>{% endif %}

{% if site.owner.github %}<p style="text-indent:0;"><a href="https://github.com/{{ site.owner.github }}"><i class="icon-github"></i> Github</a></p>{% endif %}

<p style="text-indent:0;"><a href="https://gilatod.art">
    <img
    class="fit-picture"
    src="https://kinnuch.github.io/file/gilatod.png"
    width ="12px"
    height="12px"/> 荏苒之境</a></p>

<head>
    <style>
        table{background-color: #f7f7f7f7;}
        td{font-size: 12px; text-align: center;}
    </style>
</head>
<body>
    <div id="CalendarFrame">
        <table>
            <thead>
                <tr id="Sindarin"></tr>
                <tr id="Mandarin"></tr>
            </thead>
        </table>
    </div>
    <script src="https://kinnuch.github.io/assets/js/calendar.js"></script>
</body>

<!-- Lastly modified by Kinnuch in 2024/03/10 -->